body {
  font-family: "Roboto";
  /* font-family: Arial, Helvetica, sans-serif; */
  padding: 0;
  margin: 0;
}

.navbar-brand{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.main-header{
  font-size: 2.5rem;
  font-weight: bold;
  color: black;
}

@media (min-width: 576px){
  .main-header{
    font-size: 4rem;
  }
}

.text{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.text-content {
  letter-spacing: 0.025rem;
  font-size: 0.875rem;
}

.my-profile {
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
}


#about{
  padding-top: 5rem;
}

.about_main {
  padding-bottom: 10rem;
}

#projects {
  background-color: #E89246;
}

#projects .col h2{
  padding-top: 50px;
}

.card {
  border-color: #E89246;
}

.btn {
  background-color: #E89246;
  border: 2px solid transparent;
  font-weight: bold;
  color: white;
}

.btn:hover {
  background-color: #DB883F;
  border: 2px solid #DB883F;
  color: #fff;
  cursor: pointer;
}

.btn:active{
  color: #E89246 !important;
}

section {
  padding-top: 1rem;
}

.tools {
  display: flex;
}

.tools i {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 2px solid #E89246;
  border-radius: 15%;
  margin: 22px 10px;
  color: #E89246;
  font-size: 30px;
}

.tools .github:hover {
  background-color: #161b22;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .html5:hover {
  background-color: #e34f26;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .css:hover {
  background-color: #264de4;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .figma:hover {
  background-color: #353535;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.tools .bootstrap:hover {
  background-color: #563d7c;
  border: none;
  color: white;
  transition: ease 0.8s;
}

.social {
  display: flex;
}

.social a {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E89246;
  border-radius: 50%;
  margin: 22px 10px;
  color: white;
  text-decoration: none;
  font-size: 40px;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

h2{
  font-size: 50px;
}

h3 {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width:377px) {
  section{
    padding-top: 3rem;
  }

  .my-profile{
    height: 50%;
  }

  #jumbotron .col-lg-7{
    margin-top: 0;
  }

  #about{
    padding-top: 0;
  }

  p{
    font-size: 15px;
  }

  #about .about_main{
    padding-bottom: 3rem;
  }

  .home_animate_photo {
    margin: 20px 0;
  }

  #contact .col h2,
  #about .col h2{
    font-size: 30px;
    margin: 0;
  }

  #contact .social a{
    width: 45px;
    height: 45px;
    font-size: 25px;
  }

}

@media (max-width:768px){
  html{
    width: 100%;
  }

  #jumbotron{
    padding-bottom: 0;
  }

  #about{
    padding-top: 3rem;
  }

  #about .about_main{
    padding-bottom: 3rem;
  }

  #projects{
    padding-top: 40px;
  }

  p{
    font-size: 30px;
  }
}